.search-container {
  display: flex;

  &>div {
    min-height: 100vh;
    display: flex;

    &:first-child {
      flex: 1;
    }

    &:last-child {
      flex: 2
    }
  }

  .filters-col {
    background-color: khaki;
    display: flex;
    align-items: center;
    border-top-right-radius: 160%;
    border-bottom-right-radius: 100%;
    height: 100vh;
    min-width: 10rem;
  }

  .results-col {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
}