.item-container {
  background-position: center;
  background-size: cover;

  .item-name {
    background-color: white;
    align-self: center;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
  }
}
